.button {
    @include reset-button;
    height: var(--button-height);
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 0 24 px;
    font-weight: 500;
    border-radius: var(--border-radius-small);

    color: var(--color-white);
    background: var(--color-black);
    border: 2px solid var(--color-black);

    @include hover {
        color: var(--color-black);
        background: var(--color-white);

    }

    &--white {
        color: var(--color-black);
        background: var(--color-white);

        @include hover {
            color: var(--color-white);
            background: var(--color-black);
        }
    }
}

.icon {
    @include reset-button;
    @include flex-center;
    width: 24px;
    height: 24px;
    gap: 4px;

    & span {
        @include flex-center;
        @include squere(20px);
        font-size: 12px;
        font-weight: 700;
        line-height: 1;

        color: var(--color-white);
        background: var(--color-black);
        border-radius: 50%;
        transition-duration: var(--transition-duration);
    }

    @include hover {
        color: var(--color-blue);

        & span {
            background: var(--color-blue);
        }
    }

    &.basket {
        width: 48px;
    }
}