.header {
    position: relative;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
    }

    & a {
        @include flex-center;
        gap: 4px;

        @include hover {
            color: var(--color-blue);
        }
    }

    &__top {
        padding: 8px 0;
        background: var(--color-light-gray);

        & .information {
            display: flex;
            align-items: center;
            gap: 16px;

            & .group {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    &__bottom {
        & .actions {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}