.logo {

    @include hover {
        & img {
            // -webkit-filter: drop-shadow(3px 5px 5px #000);
            // filter: drop-shadow(3px 5px 5px #000);
        }
    }

    & img {
        max-height: 48px;
        transition-duration: var(--transition-duration);

        @include mobile {
            max-height: 48px;
        }
    }
}