.navigation {
    align-self: stretch;

    @include mobile {

        &.navigation--active {
            top: 100%;
            opacity: 1;
        }
    }

    &__list {
        height: 100%;
        @include flex-center;
        gap: 60px;

        &>li {
            @include flex-center;
            height: 100%;

            &.menu-item-has-children {
                @include hover {
                    & .sub-menu {
                        display: flex;
                    }

                    &>a {
                        color: var(--color-blue);

                        &::after {
                            background-color: var(--color-blue);
                            rotate: 180deg;
                        }
                    }
                }

                & .sub-menu {
                    width: 100%;
                    display: none;
                    padding: 20px;
                    position: absolute;
                    left: 0;
                    top: calc(100%);
                    z-index: 1;
                    flex-wrap: wrap;
                    gap: 4px 0;
                    background: var(--color-light-gray);
                    border-radius: var(--border-radius-small);

                    & li {
                        width: 25%;
                        display: flex;
                    }
                }

                &>a {
                    &::after {
                        content: '';
                        display: inline-block;
                        min-width: 16px;
                        height: 16px;
                        background-color: var(--color-black);
                        mask: url('../images/icons/chevron-down.svg') no-repeat center;
                        -webkit-mask: url('../images/icons/chevron-down.svg') no-repeat center;
                        mask-size: contain;
                        -webkit-mask-size: contain;
                        transition-duration: var(--transition-duration);
                    }

                }
            }

            &.current-menu-item {
                & a {
                    color: var(--color-black);
                }
            }

            & a {
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: var(--color-dark-gray);

                @include hover {
                    color: var(--color-blue);
                }
            }
        }
    }
}