@font-face {
    font-family: "Montserrat";
    src: url("../fonts/-thin-webfont.woff"),
        url("../fonts/montserrat-thin-webfont.woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}
