//width main container
$container: 1120;

:root {

    /*colors*/
    --color-black: #141718;
    --color-white: #ffffff;
    --color-light-white: #F9F9F9;

    --color-dark-gray: #6C7275;
    --color-gray: #A6A6A6;
    --color-light-gray: #F3F5F7;

    --color-blue: #377DFF;
    --color-light-blue: #90C0EC;
    --color-red: #FD5454;

    --category-blue: #3A8DFF;
    --category-purple: #A23DFF;
    --category-orange: #FF8C42;





    --color-transparent: transparent;
    --color-shadow: rgba(22, 28, 45, 0.05);
    /*colors*/

    /*border*/
    --border: 2px solid var(--color-black);
    --border-radius: 16px;
    --border-radius-small: 8px;
    --border-radius-large: 32px;
    /*border*/

    /*body*/
    --font-family-base: "Gilroy", serif;

    --container-width: #{$container}px;
    --container-padding-x: 20px;

    --section-padding-y: 48px;
    /*body*/

    /*button*/
    --input-height: 56px;
    --button-height: 56px;
    --icon-button-height: 30px;

    --transition-duration: 0.3s;
    /*button*/
}